<div id="<%= dom_id administrator %>">
  <p>
    <strong>Nom adm:</strong>
    <%= administrator.NOM_ADM %>
  </p>

  <p>
    <strong>Ape adm:</strong>
    <%= administrator.APE_ADM %>
  </p>

  <p>
    <strong>Cor use:</strong>
    <%= administrator.COR_USE %>
  </p>

  <p>
    <strong>Sec use:</strong>
    <%= administrator.SEC_USE %>
  </p>

</div>
