<%= form_with(model: dia_semana) do |form| %>
  <% if dia_semana.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dia_semana.errors.count, "error") %> prohibited this dia_semana from being saved:</h2>

      <ul>
        <% dia_semana.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
