<div id="<%= dom_id book %>">
  <p>
    <strong>Student:</strong>
    <%= book.Student_id %>
  </p>

  <p>
    <strong>Tecnico:</strong>
    <%= book.Tecnico_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= book.Room_id %>
  </p>

  <p>
    <strong>Raz res:</strong>
    <%= book.RAZ_RES %>
  </p>

  <p>
    <strong>Hor ini res:</strong>
    <%= book.HOR_INI_RES %>
  </p>

  <p>
    <strong>Hor fin res:</strong>
    <%= book.HOR_FIN_RES %>
  </p>

  <p>
    <strong>Est res:</strong>
    <%= book.EST_RES %>
  </p>

</div>
