<div id="<%= dom_id room %>">
  <p>
    <strong>Floor:</strong>
    <%= room.Floor_id %>
  </p>

  <p>
    <strong>Nom hab:</strong>
    <%= room.NOM_HAB %>
  </p>

  <p>
    <strong>Tip hab:</strong>
    <%= room.TIP_HAB %>
  </p>

  <p>
    <strong>Cap hab:</strong>
    <%= room.CAP_HAB %>
  </p>

  <p>
    <strong>Dis hab:</strong>
    <%= room.DIS_HAB %>
  </p>

</div>
