<div id="<%= dom_id student %>">
  <p>
    <strong>Nom use:</strong>
    <%= student.NOM_USE %>
  </p>

  <p>
    <strong>Ape use:</strong>
    <%= student.APE_USE %>
  </p>

  <p>
    <strong>Cor use:</strong>
    <%= student.COR_USE %>
  </p>

  <p>
    <strong>Sec use digest:</strong>
    <%= student.SEC_USE_digest %>
  </p>

  <p>
    <strong>Car use:</strong>
    <%= student.CAR_USE %>
  </p>

</div>
