<%= form_with(model: tecnico) do |form| %>
  <% if tecnico.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tecnico.errors.count, "error") %> prohibited this tecnico from being saved:</h2>

      <ul>
        <% tecnico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :NOM_TEC, style: "display: block" %>
    <%= form.text_field :NOM_TEC %>
  </div>

  <div>
    <%= form.label :APE_TEC, style: "display: block" %>
    <%= form.text_field :APE_TEC %>
  </div>

  <div>
    <%= form.label :FEC_NAC_TEC, style: "display: block" %>
    <%= form.text_field :FEC_NAC_TEC %>
  </div>

  <div>
    <%= form.label :FEC_ING_TEC, style: "display: block" %>
    <%= form.date_field :FEC_ING_TEC %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
