<div id="<%= dom_id tecnico %>">
  <p>
    <strong>Nom tec:</strong>
    <%= tecnico.NOM_TEC %>
  </p>

  <p>
    <strong>Ape tec:</strong>
    <%= tecnico.APE_TEC %>
  </p>

  <p>
    <strong>Fec nac tec:</strong>
    <%= tecnico.FEC_NAC_TEC %>
  </p>

  <p>
    <strong>Fec ing tec:</strong>
    <%= tecnico.FEC_ING_TEC %>
  </p>

</div>
