<div id="<%= dom_id intervalo_horario %>">
  <p>
    <strong>Horario academico:</strong>
    <%= intervalo_horario.horario_academico_id %>
  </p>

  <p>
    <strong>Dia semana:</strong>
    <%= intervalo_horario.dia_semana_id %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= intervalo_horario.hora_inicio %>
  </p>

  <p>
    <strong>Hora fin:</strong>
    <%= intervalo_horario.hora_fin %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= intervalo_horario.descripcion %>
  </p>

</div>
